In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

df2 = pd.read_csv(r"C:\Users\vidhi\analytics_challenge\data\raw\annex2.csv")
df2.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         878503 non-null  object
 1   Time                         878503 non-null  object
 2   Item Code                    878503 non-null  int64
 3   Quantity Sold (kilo)         878503 non-null  float64
 4   Unit Selling Price (RMB/kg)  878503 non-null  float64
 5   Sale or Return               878503 non-null  object
 6   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 46.9+ MB

In [4]:
df2.describe(include="all")

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
count,878503,878503,8.785030e+05,878503.000000,878503.000000,878503,878503
unique,1085,849632,NaN,NaN,NaN,2,2
top,2021-02-10,10:05:12.655,NaN,NaN,NaN,sale,No
freq,3747,6,NaN,NaN,NaN,878042,831137
mean,NaN,NaN,1.030313e+14,0.536112,8.917144,NaN,NaN
std,NaN,NaN,7.174368e+11,0.400087,6.311265,NaN,NaN
min,NaN,NaN,1.029000e+14,-9.082000,0.100000,NaN,NaN
25%,NaN,NaN,1.029000e+14,0.290000,4.900000,NaN,NaN
50%,NaN,NaN,1.029000e+14,0.435000,7.900000,NaN,NaN
75%,NaN,NaN,1.029000e+14,0.742000,10.800000,NaN,NaN
max,NaN,NaN,1.069740e+14,160.000000,119.900000,NaN,NaN

In [5]:
df2_clean = df2.copy()

df2_clean.columns = (
    df2_clean.columns
    .str.lower()
    .str.replace(" ", "_")
)

df2_clean.head()

,date,time,item_code,quantity_sold_(kilo),unit_selling_price_(rmb/kg),sale_or_return,discount_(yes/no)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [6]:
df2_clean.isna().sum()

date                           0
time                           0
item_code                      0
quantity_sold_(kilo)           0
unit_selling_price_(rmb/kg)    0
sale_or_return                 0
discount_(yes/no)              0
dtype: int64

In [7]:
df2_clean.to_csv("../data/processed/annex2_cleaned.csv", index=False)