In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

df3 = pd.read_csv(r"C:\Users\vidhi\analytics_challenge\data\raw\annex3.csv")

df3.head()

         Date        Item Code  Wholesale Price (RMB/kg)
0  2020-07-01  102900005115762                      3.88
1  2020-07-01  102900005115779                      6.72
2  2020-07-01  102900005115786                      3.19
3  2020-07-01  102900005115793                      9.24
4  2020-07-01  102900005115823                      7.03

In [3]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55982 entries, 0 to 55981
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      55982 non-null  object
 1   Item Code                 55982 non-null  int64
 2   Wholesale Price (RMB/kg)  55982 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
df3.describe(include="all")

              Date     Item Code  Wholesale Price (RMB/kg)
count        55982  5.598200e+04              55982.000000
unique        1091           NaN                       NaN
top     2022-04-16           NaN                       NaN
freq            79           NaN                       NaN
mean           NaN  1.030449e+14                  5.962620
std            NaN  7.527927e+11                  5.067802
min            NaN  1.029000e+14                  0.010000
25%            NaN  1.029000e+14                  2.810000
50%            NaN  1.029000e+14                  4.630000
75%            NaN  1.029000e+14                  7.570000
max            NaN  1.069740e+14                141.000000

In [5]:
df3_clean = df3.copy()

df3_clean.columns = (
    df3_clean.columns
    .str.lower()
    .str.replace(" ", "_")
)

df3_clean.head()

         date        item_code  wholesale_price_(rmb/kg)
0  2020-07-01  102900005115762                      3.88
1  2020-07-01  102900005115779                      6.72
2  2020-07-01  102900005115786                      3.19
3  2020-07-01  102900005115793                      9.24
4  2020-07-01  102900005115823                      7.03

In [6]:
df3_clean.isna().sum()

date                        0
item_code                   0
wholesale_price_(rmb/kg)    0
dtype: int64

In [7]:
df3_clean.to_csv("../data/processed/annex3_cleaned.csv", index=False)