In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

df4 = pd.read_csv(r"C:\Users\vidhi\analytics_challenge\data\raw\annex4.csv")

df4.head()

         Item Code                 Item Name  Loss Rate (%)
0  102900005115168          Niushou Shengcai           4.39
1  102900005115199         Sichuan Red Cedar          10.46
2  102900005115250  Xixia Black Mushroom (1)          10.80
3  102900005115625     Local Xiaomao Cabbage           0.18
4  102900005115748              White Caitai           8.78

In [3]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Loss Rate (%)  251 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB

In [4]:
df4.describe(include="all")

           Item Code        Item Name  Loss Rate (%)
count   2.510000e+02              251     251.000000
unique           NaN              247            NaN
top              NaN  Chinese Cabbage            NaN
freq             NaN                2            NaN
mean    1.031908e+14              NaN       9.426693
std     1.048400e+12              NaN       5.211027
min     1.029000e+14              NaN       0.000000
25%     1.029000e+14              NaN       8.225000
50%     1.029000e+14              NaN       9.430000
75%     1.029000e+14              NaN      11.130000
max     1.069740e+14              NaN      29.250000

In [5]:
df4_clean = df4.copy()

df4_clean.columns = (
    df4_clean.columns
    .str.lower()
    .str.replace(" ", "_")
)

df4_clean.head()

         item_code                 item_name  loss_rate_(%)
0  102900005115168          Niushou Shengcai           4.39
1  102900005115199         Sichuan Red Cedar          10.46
2  102900005115250  Xixia Black Mushroom (1)          10.80
3  102900005115625     Local Xiaomao Cabbage           0.18
4  102900005115748              White Caitai           8.78

In [6]:
df4_clean = df4.copy()

df4_clean.columns = (
    df4_clean.columns
    .str.lower()
    .str.replace(" ", "_")
)

df4_clean.head()

         item_code                 item_name  loss_rate_(%)
0  102900005115168          Niushou Shengcai           4.39
1  102900005115199         Sichuan Red Cedar          10.46
2  102900005115250  Xixia Black Mushroom (1)          10.80
3  102900005115625     Local Xiaomao Cabbage           0.18
4  102900005115748              White Caitai           8.78

In [7]:
df4_clean.isna().sum()

item_code        0
item_name        0
loss_rate_(%)    0
dtype: int64

In [8]:
df4_clean.to_csv("../data/processed/annex4_cleaned.csv", index=False)

In [9]:
annex1 = pd.read_csv("../data/processed/annex1_cleaned.csv")
annex2 = pd.read_csv("../data/processed/annex2_cleaned.csv")
annex3 = pd.read_csv("../data/processed/annex3_cleaned.csv")
annex4 = pd.read_csv("../data/processed/annex4_cleaned.csv")

In [10]:
df_final = annex2.merge(
    annex1,
    on="item_code",
    how="left"
)

In [11]:
df_final = df_final.merge(
    annex3,
    on="item_code",
    how="left"
)

MemoryError: Unable to allocate 18.0 GiB for an array with shape (4, 603915514) and data type object

In [ ]:
df_final = df_final.merge(
    annex4,
    on="item_code",
    how="left"
)

In [ ]:
df_final.info()

In [ ]:
df_final.head()

In [ ]:
df_final["category_name"].value_counts()

In [ ]:
df_final.to_csv("../outputs/final_analytics_dataset.csv", index=False)

In [ ]:
annex1.head(), annex2.head(), annex3.head()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

annex1 = pd.read_csv("../data/processed/annex1_cleaned.csv")
annex2 = pd.read_csv("../data/processed/annex2_cleaned.csv")
annex3 = pd.read_csv("../data/processed/annex3_cleaned.csv")